{% load static %}
<div class="col-sm-12 col-md-8 offset-md-2 mt-5 p-0 post-container">
    
    
    <div class="card  pt-3 pl-3 pb-1">
        <div class="row d-flex align-items-center g-0">
            <div class="col-1">
                <a href="{% url "users:detail" post.user.username %}">
                    {% if post.profile.picture %}
                    <img class=" rounded-circle" height="35" src="{{ post.profile.picture.url }}" alt="{{ post.user.get_full_name }}">
                    {% else %}
                    <img src="{% static 'images/default-profile.png' %}" height="35" class="d-inline-block align-top rounded-circle"/>
                    {% endif %}
                </a>  
            </div>

            <div class="col">
                <div class="card-body">
                    <p class="mb-0">{{ post.user.get_full_name  }}</p>
                </div>
            </div>
        </div>

    <img style="width: 100%;" src="{{ post.picture.url }}" alt="{{ post.title }}">

    <p><strong>{{ post.resume }}</strong></p>

    <div class="col-12">
        <p>{{ post.content }}</p>
    </div>
</div>
