{% load static %}
<div class="col-sm-12 col-md-8 offset-md-2 mt-5 p-0 post-container">
    
    
    <div class="card  pt-3 pl-3 pb-1" style="border: 0px;">
        <div class="row d-flex align-items-center g-0">
            <div class="col-1">
                <a href="{% url "users:detail" post.user.username %}">
                    {% if post.profile.picture %}
                    <img class=" rounded-circle" height="35" src="{{ post.profile.picture.url }}" alt="{{ post.user.get_full_name }}">
                    {% else %}
                    <img src="{% static 'images/default-profile.png' %}" height="35" class="d-inline-block align-top rounded-circle"/>
                    {% endif %}
                </a>  
            </div>

            <div class="col">
                <div class="card-body">
                    <p class="mb-0">{{ post.user.get_full_name  }}</p>
                </div>
            </div>
        </div>

    <img style="width: 100%;" src="{{ post.picture.url }}" alt="{{ post.title }}">
    
    <div class="row">
        <p class="col-6"><strong>{{ post.resume }}</strong></p>
        <p class="col-3 offset-md-3"><strong>Likes: {{ post.likes }}</strong></p>
    </div>

    <div class="col-12">
        <p>{{ post.content }}</p>
    </div>

    <div class="col-12">
        {% for comment in comments %}
            {% include "comments/comments_card.html" %}
        {% endfor %}
    </div>
    <div class="row">

        <div class="col-6">
            <a href="{% url 'posts:comment' post.id %}" class="btn btn-lg btn-secondary mt-5">Add comment</a> 
        </div>
        <div class="col-6">
            <form action="{% url 'posts:like' post.id %}" method="POST">
                {% csrf_token %}
                
                {% if liked %}

                    <button class="btn btn-lg btn-danger mt-5 " type="submit" name="post_id" value="{{ post.id }}">
                        Unlike
                    </button>

                {% else %}

                    <button class="btn btn-lg btn-secondary mt-5 " type="submit" name="post_id" value="{{ post.id }}">
                        Like
                    </button>

                {% endif %}
            </form>
        </div>
    </div>
</div>
