.nav-icon a {
    color: #455147;
    font-size: 1.3em;
    display: block;
    margin-top: .2em;
    margin-left: 1.2em;
    font-weight: 100;
}

#main-navbar {
    background: #fff;
    border-bottom: 3px solid rgba(0,0,0,.0975);
}

#comments {
    /* background-color: #adb5bd; */
    border: 2px solid #bfbdc1;
}