{% load static%}
<footer id="footer" class="pt-4">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-12 col-lg">
                <a href="#">Preguntas frecuentes</a>
            </div>
            <div class="col-12 col-lg">
                <a href="#">Contactanos</a>
            </div>
            <div class="col-12 col-lg">
                <a href="#">Terminos y condiciones</a>
            </div>
            <div class="col-12 col-lg">
                <a href="#">Privacidad</a>
            </div>
        </div>
    </div>
</footer>